body {
	font-size: 16px;
	color: #fff;
	background-color: #C0C0C0;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #93917C;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #000000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#collapsable-nav a { /* Collapsed nav menu text */
	font-size: 1.2em;
}
#collapsable-nav a span { /* Collapsed nav menu glyph */
	font-size: 1em;
    margin-right: 5px;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #F5F5F5;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
}
#nav-list a span {
	font-size: 1.8em;

h1 {
	margin-bottom: 15px;
	font-size: 28px;
	text-align: left;
	float: left;
}

.hdr_brnd {
	padding-top: 25px;
	text-align: center;
}

h2 {
	margin-bottom: 15px;
	font-size: 20px;
	text-align: center;
}

.para-style {
	line-height: 20px;
	border: 20px solid black;
	background-color: gainsboro;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	overflow: hidden;
	font-family: Helvetica;
	font-size: 16px;
	color: black;
}

menu-item {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #C0C0C0;
	overflow: hidden;
	text-align: center;
}
